<h1>Welcome!</h1>
<br>

<ul>
	<li><a href="all" class="btn btn-danger">All States</a></li>
	<li><a href="toppop" class="btn btn-default">Top 5 States Ranked by Population</a></li>
	<li><a href="toparea" class="btn btn-default">Top 5 States Ranked by Area</a></li>
</ul>
